@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body,html{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
    font-family:  "Lato",sans-serif;
}

body{
	min-height: 100%;
	/*font-weight: normal;*/
	font-size: 16px;
	transition: all 500ms ease 50s;
}

.wrapper{
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; 
}

/*============================================================

============================================================*/
.h1-s, .h2-s, .h3-s, .h4-s, .h5-s, .h6-s {
	font-weight: normal;
	color: #252525;
	letter-spacing: 1px;
}
.h1-s {
	font-size: 36px;
}
.h2-s {
	font-size: 30px;
}
.h3-s {
	font-size: 24px;
}
.h4-s {
	font-size: 18px;
}
.h5-s {
	font-size: 16px;
}
.h6-s {
	font-size: 12px;

}

.Spacer-1 {
	height: 4px
}
.Spacer-2 {
	height: 8px
}
.Spacer-3 {
	height: 12px
}
.Spacer-4 {
	height: 16px
}
.Spacer-5 {
	height: 20px
}
.Spacer-6 {
	height: 24px
}
.Spacer-7 {
	height: 28px
}
.Spacer-8 {
	height: 32px
}
.Spacer-9 {
	height: 36px
}
.Spacer-10 {
	height: 40px
}
.Spacer-11 {
	height: 44px
}
.Spacer-12 {
	height: 48px
}
.Spacer-13 {
	height: 52px
}
.Spacer-14 {
	height: 56px
}
.Spacer-15 {
	height: 60px
}
.Spacer-16 {
	height: 64px
}
.Spacer-17 {
	height: 68px
}
.Spacer-18 {
	height: 72px
}
.Spacer-19 {
	height: 76px
}
.Spacer-20 {
	height: 80px
}
.Spacer-21 {
	height: 84px
}
.Spacer-22 {
	height: 88px
}
.Spacer-23 {
	height: 92px
}
.Spacer-24 {
	height: 96px
}
.Spacer-25{
	height: 180px;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-normal {
	font-weight: normal !important;
}
.font-12px {
	font-size: 12px !important;
}
.font-14px {
	font-size: 14px !important;
}
.font-16px {
	font-size: 16px !important;
}
.font-18px {
	font-size: 18px !important;
}
.font-20px {
	font-size: 20px !important;
}
.font-bold {
	font-weight: bold !important;
}
.font-normal {
	font-weight: normal !important;
}
.white-text {
	color: #fff !important;
}
.primary-color {
	color: #506ac5 !important;
}
.border-bottom-1 {
	border-bottom: 1px solid #ededed;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.white-bg {
	background: #fff !important;
}
.bg-grey{
	background: #F5F4FB;
}
p {
	font-weight: 400;
	color: #6f6f6f;
	line-height: 22px;
	font-size: 14px;
	text-rendering: optimizeLegibility;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #141414;
	font-weight: normal;
}
p.intro-small {
	width: 80%;
	margin: 0 auto;
}
hr {
	border-width: 1px;
	border-color: rgba(0,0,0,0.1);
	margin: 10px 0;
}
a:hover, a:focus {
	color: #00b1f1;
}
.clear-both{
	clear: both;
}
.box-shadow{
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.relative {
	position: relative;
}
.line-height-24 {
	line-height: 24px !important;
}
.line-height-22 {
	line-height: 22px !important;
}
.line-height-26 {
	line-height: 26px !important;
}
.dark-text p {
	color: #141414;
}
.light-gray-bg {
	background: #f6f7f8 !important;
}
.right-margin{
	margin-right: 0;
}
/*=======================================================

      BTN STYLE

========================================================*/

.btn {
	border:2px solid #ff3d63;
	color: #fff;
	display: inline-block;
	padding: 0px 21px;
	font-weight: normal;
	font-size: 18px;
	border-radius: 30px;
	line-height: 40px;
	background: #ff3d63;
	position: relative;
	z-index: 1;
}
.btn2{
	border:2px solid #ff3d63;
	background: #ff3d63;
	color: white;
	display: inline-block;
	padding: 5px 21px;
	font-weight: normal;
	font-size: 16px;
	border-radius: 30px;
	position: relative;
	z-index: 1;
}
.btn2:hover, .btn2:active, .btn2:focus,.btn3:hover, .btn3:active, .btn3:focus {
	background:#fa0e3c;
	color: #fff;
	border: 2px solid #fa0e3c;
}
.btn-br {
    background: transparent;
    border: 1px solid #999999;
	color: #666666;
	line-height: inherit;
	padding: 5px 10px;
	box-shadow: none !important;
	width: auto !important;
	font-size: 12px;
}
.btn-br:hover,.btn-br:active, .btn-br:focus{
	background: #ff3d63 !important;
	color: #fff !important;
	border: 1px solid #ff3d63 !important;
}
.btn:hover, .btn:active, .btn:focus {
	background:#fa0e3c;
	color: #fff;
	border: 2px solid #fa0e3c;
}
.btn1:hover, .btn1:active, .btn1:focus {
	background:#fa0e3c;
	color: #fff;
	border:2px solid #fa0e3c;
}
.btn-white {
	background: #fff;
	color: #ab4e52 !important;
}
.btn-white:hover, .btn-white:active, .btn-white:focus {
	background: #ab4e52;
	color: #fff !important;
}
.tp-caption .btn {
	display: inline-block;
}
.btn-block + .btn-block {
    margin-top: 0px;
}
.btn-1 {
	border: 1px solid #888888;
	border-left: none;
	border-right: none;
	border-top-color: transparent;
	text-transform: uppercase;
	font-size: 10px;
	display: inline-block;
	padding: 10px;
	letter-spacing: 1px;
	color: #965452;
}
.btn-1 i {
	font-size: 10px;
	margin-left: 20px;
}
.btn-1.btn-2 {
	border-bottom-color: transparent;
	border-top: 1px solid #965452;
}
.btn-1:hover {
	color: #fff;
	background: #965452;
}
.parallax-bg {
	background-size: cover !important;
}

.text-shadow {
	text-shadow: 3px 0px 5px rgba(0,0,0,0.5);
}
.text-shadow-1 {
	text-shadow: 2px 3px 0 rgba(0,0,0,0.5);
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.home-slider {
	position: relative;
}
.btn.button-load {
	background: #33cc99 none repeat scroll 0 0;
	float: right;
}

/*================================================================
header
================================================================*/
.navbar-default {
	background-color: #653BC8;
	border-color:#653BC8;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand.logo {
	height: auto;
	width: 60px;
	position: relative;
	padding: 15px 10px;
	background-color: #7052CD;
}
.navbar-brand.logo:hover{
	background-color: #7052CD;
}
.logo-img{
	max-width: 100%;
	height: auto;
}
.navbar-form, .nav.navbar-nav.navbar-right {
	padding: 10px 20px;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #ff3d63;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #ff3d63;
	color: #ffffff;
}
.navbar-toggle{
	padding: 5px 10px;
	color: #ff3d63;
}
.form-control.search-sn {
	background-color: transparent;
	/*background-color: #475fb1;*/
	color: #ffffff;
	border-radius: 20px;
	border-color: white;
	box-shadow: none;
	width: 250px;
}
.form-control.search-sn:focus{
	border-color:#ff3d63;
}
.navbar-search {
	display: inline-block;
	border: 0px solid #506ac5;
	box-shadow: 0 0 0 0!important;
}

.navbar-default .navbar-toggle{
	border-color: #ff3d63;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #ff3d63;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.user-details-img{
	width: 40px;
	height: 40px;
}
.header-padding{
	padding: 0 25px;
}
.side-menubar{
	background: white;
	width: 60px; 
	height: 100%;
	position:fixed; 
	top: 70px; 
	left: 0; 
	z-index: 100; 
	padding-right: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.side-menubar1{
	padding: 10px;
}
.sidemenu-icon{
	font-size: 30px;
	color: #a6acaf;
	padding: 15px 5px;
}
.sidemenu-icon:hover{
	color: #ff3d63;
}

.navbar-toggle{
	margin-top: 15px;
}
.sidemenu{
	float: right;
	margin: 20px 0px 0 10px;
	color: white;
}
.header-icon{
	color: white !important;
	padding: 0 20px 0 0;
}
.header-icon:hover{
	color:#ff3d63 !important;
}
.sidenav{
	position: absolute;
	top: 20px;
	left:60px;
	width: 90px;
	padding:10px 20px;
    background-color:white;
    color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.sidenav1{
	position: absolute;
	top: 80px;
	left:60px;
	width: 90px;
	padding:10px 20px;
	background-color: white;
	color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.sidenav2{
	position: absolute;
	top: 140px;
	left:60px;
	width: 180px;
	padding:10px 20px;
	background-color: white;
	color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.sidenav3{
	position: absolute;
	top: 200px;
	left:60px;
	width: 160px;
	padding:10px 20px;
	background-color: white;
	color:#ff3d63;
	opacity: 0;
	box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.side-men:hover + ul{
	opacity: 1;
	margin-left: -10px;
	transition: all 250ms linear 0s;
	z-index: 0;
}
.active-pink{
	color: #ff3d63 !important;
}
/*=======================================================

      main wrap

========================================================*/
.main{
	min-height: 100%;
}
.nav-tabs {
	border-bottom: 1px solid #dcdfea;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}
.nav-tabs > li > a {
	border: none;
	color: #999999;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #111111 ;
	background: transparent;
}
.nav-tabs > li > a{
	font-size: 16px;
}
.nav-tabs > li > a::after {
	content: "";
	background: #ff3d63;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1);
}
.tab-nav > li > a::after {
	background: #ff3d63 none repeat scroll 0% 0%;
	color: #fff;
}
/*.white-text:hover{
	color: white;
}*/
.tab-pane {
	padding: 0;
}
.top-bottom-spacing{
	padding: 40px 0;
}
.zero-padding{
	padding:0;
	opacity: 1;
	transition: all 1000ms ease 0s;
}
.video-stream{
	position: relative;
	height: 100%;
}
.embed-responsive.embed-responsive-16by9 {
    border-radius: 5px 5px 0 0;
}
.user-profile {
    background: #ffffff;
}
.profile-user-img {
    padding: 20px 0 10px;
    text-align: center;
}
.stnw-divStats {
    margin-left: 11px;
    padding: 10px 0;
    margin-right: 11px;
}
.stnw-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.stnw-Arrange {
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 0;
}
.stnw-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.stnw-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.stnw-StatValue {
    display: block;
    font-size: 22px;
    font-weight: 500;
	color: #506ac5;
    transition: color 0.15s ease-in-out 0s;
	letter-spacing: 0.1em;

}
.stnw-StatLabel {
    color: #444444;
    font-size: 12px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
    font-weight: 600;
}
.user-profile .btn {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    width: 55%;
	margin-bottom: 20px;
}
.follow-users-list {
    padding-left: 20px;
    text-align: left;
	padding-bottom: 20px;
	padding-right: 20px;
}
.stn-stream-heading {
    color: #ff3d63;
}
.stn-stream-heading {
    margin-top: 20px;
}
.live-video-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    /*box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);*/
    margin-top:0px;
    border-radius: 5px 5px 0 0;
}
.content-stm-video {
    position: relative;
}
.video-content {
    display: inline-block;
    width: 60%;
	padding: 20px;
}
.video-right-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 40%;
}
.video-right-btn .btn-br {
    padding: 5px 20px;
    width: auto;
	margin: 10px 0 0 10px;
}
.video-right-btn .h4-s {
    display: inline-block;
}
.video-watch-time .watched-user {
    /*margin-right: 30px;*/
	color: #ff3d63;
}
.video-watch-time .strated-time {
    color: #999999;
}
.top-margin{
	margin-top: 40px;
}
.user-details {
    margin: 20px 0;
}
.user-name-info {
    font-weight: 600;
    margin-left: 10px;
}
.watch-btn-user .btn-br {
    float: right;
    padding: 5px 20px;
    width: auto;
}
.watch-btn-user .btn-br {
    float: right;
    margin: 5px 15px;
    padding: 5px 20px;
    width: auto;
	border-color: #ff3d63;
	color: #ff3d63;
}
.stn-stream-grey {
    color: #666666;
}
.recent-btn .btn-br {
    border-color: #506ac5;
    color: #506ac5;
}
.recent-btn .btn-br:hover{
	background: #506ac5 !important;
	color: #ffffff !important;
	border-color: #506ac5 !important;
}
.inner-video{
	height: 450px;
}
.playbtn {
    background: -webkit-linear-gradient(left top, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
    height: 100%;
    margin: 0;
    padding: 23% 46%;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}
.playbtn .pink-btn-play {
    display: none;
}
.playbtn:hover .pink-btn-play{
    display: block;
}
.playbtn:hover .white-btn-play {
    display: none;
}
.user-profile {
}
.video-stn-main {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding-top: 0px;
	width: 100%;
}

/*=========================*/
.following-img{
	max-width: 100%;
	width: 150px;
	height:150px;
}
.spacing{
	padding: 10px 20px;
}
.followers-grid{
	border-radius: 5px 5px 0 0;
}
.followers-img{
	height:250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px 5px 0 0;
}
.blue-clr{
	color:#506ac5;
}
.btn-follow {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #999999;
	color: #666666;
	line-height: inherit;
	padding: 5px 20px;
	box-shadow: none !important;
	width: auto !important;
	font-size: 14px;
	border-radius: 20px;
}
.btn-follow:hover{
	background: #ff3d63 !important;
	color: #fff !important;
	border-color: #ff3d63 !important;
}
.icon{
	padding-right: 5px;
}

/*=================================================
footer
=================================================*/
.footer{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	padding: 15px 0;
	background-color: white;
	font-size: 16px;
	z-index: 1000;
	box-shadow: 3px 0px 11px rgba(0, 0, 0, 0.1);
	line-height: 1.7;
}
.foot{
	margin: 0 10px;
}
.foot1{
	border-right: 1px solid black;
}
.foot2{
	margin: 0 10px;
}
.foot3{
	color:#404d5b;
	line-height: 1.75;
}
.foot3:hover, .foot3:focus, .foot3:active {
	color:#404d5b;
}
/*===================================================
signup
===================================================*/
.zero-width{
	/*width: 0 !important;*/
	/*display: none;*/
	transition: all 1000ms ease 0s;
	opacity: 0;
}
.width100{
	width: 100%;
	transition: all 750ms ease 0s;
}
.body-img{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:100%;
	
}
.overlay{
	/*background: linear-gradient(rgba(80, 106, 197, 0.8), rgba(20, 20, 20, 0.5));*/
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
}

.center-align{
	text-align: center;
}
.signup-head{
	margin: 0;
}
.signup-line{
	margin: 0;
}
.google-signin{
	padding: 10px 20px;
	background-color: white;
	color: #3b5998;
	width: 207px;
	border:1px solid white;
}
.facebook-signin{
	padding: 10px 20px;
	background-color:#3b5998;
	color: white ;
	width: 207px;
	border:1px solid #3b5998;
}
.forgot{
	color: white;
	font-size: 18px;
}
.forgot:hover{
	color:#ff3d63 !important;
}
.right-align{
	float: right !important;
}
.signin-arrow{
	padding: 0 7px;
}
.profile-bg-image{
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;
}
.user-profile1{
	width:200px ;
	height:200px;
	border-radius: 100%;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}
.pro-head{
	margin: 0;
	color: white;
}
.pro-head:hover, .pro-head:active, .pro-head:focus{
	color: white;
}
.left-spacing{
	margin-left: 30px;
}
.left-spacing1{
	margin-left: 60px;
}
.bottom-padding{
	padding-bottom:115px;
}
.overlay1{
	background-color: rgba(101, 59, 200, 0.6);
}
.profile-tab{
	padding: 16px;
	border:0;
}
.light-blue-bg{
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));  
}
.blue-bg{
	/*background-color:rgba(80, 106, 197, 0.7);*/
	background-color: white;
}
.spacing1{
	padding: 20px;
}
.tab-head{
	margin: 0;
	padding-bottom: 10px;
	line-height: 1.25;
}
.grey-clr{
	color:rgba(80, 106, 197, 1);
	font-weight: 600;
}
.line{
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
}
.tab-label{
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.3;
	/*color: white;*/
}
.spacing2{
	padding: 0px 40px;
}
.about-head{
	margin-bottom: 20px;
	margin-top: 0;
}
.about-para{
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	font-style: normal;
}
.broadcast-img{
	width:100%;
}
.broadcast-btn{
	position: absolute;
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	top: 0%;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    overflow:hidden;
}
.panel-heading{
	border-radius: 0;
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
}
.panel-footer{
	padding: 10px 15px;
}
.media-body{
	width: 220px;
}
.media{
	margin-top: 0;
}
.media1{
	border-radius: 30px;
}
.close{
	color: white;
	text-shadow: 0;
	opacity: 1;
}
.close:hover{
	color: white;
}
.broad-form{
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	border:0;
	box-shadow: none;
	border-radius: 0;
	height: 35px;
	color: white;
}
.broad-form::placeholder{
	color: white;
}
.broad-form:focus{
	background: -webkit-linear-gradient(left , rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 31 to 15 */
    background: linear-gradient(to right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
	border:0;
	box-shadow: none;
}
.broad-icon{
	background-color: #ff3d63;
	border: 1px solid #ff3d63;
	padding: 0 20px;
	border-radius: 0;
	color:white;
	cursor: pointer;
}
.broad-icon:hover{
	background-color: #fa0e3c;
	border: 1px solid #fa0e3c;
}
.panel-body{
	height: 390px;
	overflow-y: scroll;
}
.panel-default{
	margin: 0;
}
.modal-content{
	border-radius:0;
}
.modal-header{
	background-color:#ff3d63; 
	color:white;
	text-align: center;
	padding: 10px;
	border: 0;
}
.modal-body{
	padding: 0;
}
.modal-header .close {
    margin-top: 4px;
    margin-right: 5px;
}
.error-img{
	/*width: 600px;*/
	/*height: 400px;*/
	margin: 0 auto;
}
.bg-grey1{
	background-color: #e4e7e7;
}
.bg-blue{
	background-color: #506ac5;
}
.radio-inline{
	padding-left: 0;
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  top:1px;
  height: 15px;
  width: 15px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #ff3d63;
}
.option-input:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 15px;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.spacing3{
	padding:0 30px 0 15px;
}
.public-video-header{
	padding: 10px;
	text-align: center;
	background: -webkit-linear-gradient(left top, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(80, 106, 197, .6), rgba(141, 34, 231,.6));
    font-size: 24px;
    color: white;
}
.top-spacing1{
	padding-top: 25px;
}
.public-img{
	height:180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px 5px 0 0;
	position: relative;
}
.playbtn1{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
}
.pink-btn-play1,.white-btn-play1{
	height: 40px;
	width: 40px;
}
.playbtn1 .pink-btn-play1 {
    display: none;
}
.playbtn1:hover .pink-btn-play1{
    display: block;
}
.playbtn1:hover .white-btn-play1{
    display: none;
}
.followers-count{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #653BC8;
	color: white;
	font-size: 18px;
	padding: 5px 10px;
}
.suggestion-list{
	background-color: white;
	padding: 15px;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
.close1{
	color:black;
	text-shadow: 0;
	opacity: 1;
}
.close1:hover{
	color: black;
}
.overflow{
	white-space: nowrap; 
    width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.bottom-space{
	padding-bottom: 8px;
}
.btn-padding{
	padding: 3px 21px !important;
}
.middle-align{
	margin: 0 auto;
}
.subscription-bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*height: 130px;*/
}
.subscription-overlay{
	background-color:rgba( 255, 61, 99 ,.4);
	height: 150px;
	color:white;
	text-align: center;
	padding: 20px;
}
.subscription-overlay1{
	background-color:rgba( 101, 59, 200,.4); 
	height: 150px;
	color:white;
	text-align: center;
	padding: 20px;
}
.sub-head{
	margin: 10px;
	line-height: 1.25;
}
.subscription-content{
	border: 1px solid #ff9ab1;
	padding: 20px 20px 30px 20px;
	line-height: 1.5;
	text-align: center;
}
.subscription-content1{
	border: 1px solid #ac8afa;
	padding: 20px 20px 30px 20px;
	line-height: 1.5;
	text-align: center;
}
.width-60{
	width: 60px;
}
.width-70{
	width: 70px;
}
.width-100{
	width: 100px;
}
.width-120{
	width: 120px;
}
.width-150{
	width: 150px;
}
.width-200{
	width: 200px;
}
.top{
	margin-top: 10px;
}
.user-img-sm{
	cursor: pointer;
}
